.sideNavbar {
  margin-top: 60px;
  background: rgba(0, 0, 0, 0.753) !important;
  height: 100% !important;
  position: fixed !important;
}

.active {
  font-weight: bold;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.133) !important;
}

.sidenav---sidenav---_2tBP {
  height: 950px;
}

i {
  font-size: 2em;
}

.sidenav---sidenav-subnavitem---1cD47 {
  font-size: 17px !important;
}

.sidenav---navtext---1AE_f {
  font-size: 14px !important;
}

.tooltipNavbar .tooltiptext {
  width: 200px;
  height: 48px;
  background-color: white;
  font-size: 17px;
  color: black;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-left: 64.40px;
  display: none;
  transition: opacity 0.1s;
}

.tooltipNavbar:hover .tooltiptext {
  visibility: visible;
  display: block;
  opacity: 1;
}

.activeTooltip{
  font-weight: 500 !important;
}


@media all and (max-width: 700px) {
  #layout {
    margin-left: 50px !important;
  }
  .sidenav---sidenav---_2tBP {
    min-width: 40px !important;
  }
  .sidenav---sidenav-nav---3tvij {
    width: 45px !important;
  }
  .sidenav---navicon---3gCRo {
    width: 45px !important;
  }
  .sidenav---sidenav-subnav---1EN61 {
    left: 45px !important;
  }
  i {
    font-size: 1.7em;
  }
  .sidenav---sidenav-subnavitem---1cD47 {
    font-size: 15px !important;
  }
  .sidenav---navtext---1AE_f {
    font-size: 13px !important;
  }
}