.Login {
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    max-width: 650px;
    font-family: 'Montserrat', sans-serif;
}

.ForgotPassword {
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
}

.Schedule {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5% !important;
    background-color: rgba(255, 255, 255, 0.95);
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
}

#forgotPassword {
    font-size: 18px;
}

.formContainer {
    margin-top: 130px !important;
    margin: 5%;
}

.errorRow {
    padding-left: 5px;
}

.btn {
    font-size: 1rem !important;
}

.formTitle {
    text-align: center;
    font-size: 42px;
}

.scheduleTitle{
    font-size: 34px;
    text-align: center;
}

.form-label {
    font-size: 19px;
}

input:-webkit-autofill::first-line {
    font-family: 'Helvetica Neue', 'Arial', Arial, sans-serif !important;
    font-size: 18px !important;
}

input {
    font-size: 18px !important;
}

@media all and (max-width: 500px) {
    .formTitle {
        font-size: 2rem;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 420px) {
    button {
        width: 100%;
    }
    a {
        width: 100%;
    }
}